Repository comp-prog-jp-library-standard/competitive-programming-library, pull requests merged in 2018-10, with the labels that each got.

#25 UnionFind のテストを追加
  library/cpp/tests/.gitkeep
  library/cpp/tests/tree/union_find/main.cpp
  library/cpp/tests/tree/union_find/testcase.yml
Labels: test

#29 Union-Find 木の修正
  library/cpp/src/tree/union_find.cpp
Labels: library

#26 エラトステネスの篩
  library/cpp/src/math/sieve_primes.cpp
  library/cpp/tests/math/sieve_primes/ALDS1_1_C.cpp
  library/cpp/tests/math/sieve_primes/ALDS1_1_C.yml
Labels: library, test

#32 UnionFind のベンチマーク
  bin/test.py
  library/cpp/benchmarks/tree/union_find/union_find.cpp
  library/cpp/benchmarks/tree/union_find/union_find.yml
  library/cpp/src/template.cpp
  testcases/benchmarks/array_query/1.in
  testcases/benchmarks/array_query/1.out
  testcases/benchmarks/array_query/2.in
  testcases/benchmarks/array_query/2.out
Labels: benchmark

#37 Add clang
  .travis.yml
  bin/test.py
Labels: C++, test

#35 セグメント木を追加
  library/cpp/src/array/segment_tree.cpp
  library/cpp/src/template.cpp
  library/cpp/tests/array/segment_tree/2431.cpp
  library/cpp/tests/array/segment_tree/2431.yml
  library/cpp/tests/array/segment_tree/DSL_2_A.cpp
  library/cpp/tests/array/segment_tree/DSL_2_A.yml
Labels: library
